<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <!-- <%=downloadBlob %> -->
    <img src=<%=downloadBlob %> width="600" height="600">
    <p>gender:<%= gender %></p>
    <ul>
        <li>anger:<%= anger %>%</li>
        <li>contempt:<%= contempt %>%</li>
        <li>disgust:<%= disgust %>%</li>
        <li>fear:<%= fear %>%</li>
        <li>happiness:<%= happiness %>%</li>
        <li>neutral:<%= neutral %>%</li>
        <li>sadness:<%= sadness %>%</li>
        <li>surprise:<%= surprise %>%</li>

    </ul>
    
    <form action="/">
        <button type="submit">try again</button>
    </form>
</body>
</html>


